section.temas ul {
  position: fixed;
  width: 100vw;
}

section.temas ul.nomostrar {
  left: -100%;
  transition: 0.5s;
  min-height: 100vh;
}

section.temas ul.mostrar {
  left: 0;
  transition: 0.5s;
  background-color: #a38341;
  min-height: 100vh;
  z-index: 1;
  padding: 2rem;
}

section.temas li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  padding: 0.5rem 0;
}

section.temas img {
  display: none;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
}

section.temas a {
  color: white;
  text-decoration: none;
  display: block;
}

section.temas .checkbutton {
  float: right;
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  top: 105px;
  right: 2rem;
}

section.temas #check {
  display: none;
}

section.temas button {
  color: white;
  border: none;
  background-color: #a38341;
  font-size: 1rem;
}
