section.temas ul {
  position: fixed;
  width: 100vw;
}

section.temas ul.nomostrar {
  left: -100%;
  transition: 0.5s;
  min-height: 100vh;
}

section.temas ul.mostrar {
  left: 0;
  transition: 0.5s;
  background-color: #a38341;
  min-height: 100vh;
  z-index: 1;
  padding: 2rem;
}

section.temas li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  padding: 0.5rem 0;
}

section.temas img {
  display: none;
  height: 75px;
  width: 75px;
  border-radius: 20%;
  object-fit: cover;
}

section.temas a {
  color: white;
  text-decoration: none;
  display: block;
}

section.temas .checkbutton {
  float: right;
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  top: 105px;
  right: 2rem;
}

section.temas button {
  color: white;
  border: none;
  background-color: #a38341;
  font-size: 1rem;
  cursor: pointer;
}

@media (min-width: 750px) {
  section.temas {
    max-width: 30%;
    background-color: #a38341;
    color: white;
    position: fixed;
  }

  section.temas h2 {
    padding: 2rem;
    color: #1a078a;
  }

  section.temas ul.mostrar {
    position: static;
    max-width: 100%;
    padding: 1rem;
  }

  section.temas ul.nomostrar {
    position: static;
    left: 0;
    max-width: 100%;
    padding: 1rem;
  }

  section.temas .checkbutton {
    display: none;
  }
}

@media (min-width: 1024px) {
  section.temas img {
    display: block;
  }

  section.temas a {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
