.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: #a38341;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
}

.header img {
  height: 75px;
}

.header h1 {
  display: none;
}

.header a {
  color: white;
  text-decoration: none;
}

section.sinautorizacion {
  display: flex;
  gap: 1rem;
}

section.conautorizacion,
section.imagenusuario {
  display: flex;
  align-items: center;
  gap: 1rem;
}

section.imagenusuario img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
}

section.conautorizacion .logout {
  height: 30px;
}

@media (min-width: 750px) {
  .header h1 {
    display: block;
  }
}
