section.comentarios ul {
  padding-bottom: 300px;
}

section.comentarios li {
  list-style: none;
  margin: 2rem 0;
  /* background-color: white; */
  padding: 1rem;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

section.comentarios ul li button {
  border: none;
  background-color: #fff7e3;
  margin-left: 90%;
}

section.comentarios img {
  max-width: 75vw;
  border-radius: 25px;
}

section.comentarios form {
  position: fixed;
  bottom: 0;
  width: 85vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #fff7e3;
}

section.comentarios form textarea {
  max-width: 40vw;
  border: none;
  background-color: #fff7e3;
}

section.comentarios form button {
  font-size: 1.6rem;
  border: none;
  background-color: #fff7e3;
}

section.comentarios form .imagenPrevia {
  display: none;
}

section.comentarios form .botonImagen {
  font-size: 2rem;
}

section.comentarios .preview {
  height: 50px;
}
