@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Solitreo&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  color: #3d1900;
}

h1,
h2,
h3 {
  font-family: "Solitreo", cursive;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form label input {
  border: none;
  padding: 0.5rem 0;
  border-radius: 5px;
}

.form p.formEnlace {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form button {
  background-color: #3d1900;
  background-image: linear-gradient(62deg, #3d1900 0%, #a38341 100%);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.form img.previewAvatar,
.form img.previewTema {
  height: 100px;
  width: 100px;
}

body main section button.borrarUsuario {
  background-image: radial-gradient(
    circle 860px at 11.8% 33.5%,
    rgba(240, 30, 92, 1) 0%,
    rgba(244, 49, 74, 1) 30.5%,
    rgba(249, 75, 37, 1) 56.1%,
    rgba(250, 88, 19, 1) 75.6%,
    rgba(253, 102, 2, 1) 100.2%
  );
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  margin: 3rem auto;
  display: block;
  font-weight: bold;
}

.error {
  color: red;
}

@media (min-width: 750px) {
  .form {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  .form button,
  body main section button.borrarUsuario {
    font-size: 1.5rem;
  }

  .form label input {
    font-size: 1.2rem;
  }

  .form img.previewAvatar,
  .form img.previewTema {
    height: 150px;
    width: 150px;
  }
}
